body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #e0d9d9;
  color: #fff; /* default text color */
  font-size: 16px;
}

h1, p {
  color: #ccc; /* Ensure headers and paragraphs are visible */
}

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ccc;
}

nav a {
  color: #ccc;
  text-decoration: none;
  padding: 10px;
}

@media (max-width: 768px) {
  header, footer {
    flex-direction: column;
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    display: block;
  }
}

a, button {
  transition: color 0.3s ease;

  &:hover {
    color: #f0f0f0;
    text-decoration: underline;
  }

  &:active {
    transform: scale(0.98);
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e7eaf0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
